.posts {
  text-align: justify;
}
.postItem {
  background: #eeeeee;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  min-height: 150px;
  padding: 15px;
}
.postItem h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.postItem p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
