.post .image {
  width: 100%;
  height: 350px;
  background-size: cover;
  margin-bottom: 15px;
  border-radius: 5px;
}
.post h2 {
  font-size: 28px;
  text-transform: uppercase;
  text-align: justify;
}
.post p {
  font-size: 18px;
  text-align: justify;
}
