.post {
  padding: 15px 15px 20px 15px;
}
.post .imageBack {
  height: 150px;
  border-radius: 5px;
  background-position: center top;
  background-size: cover;
}
.post .postDetails {
  padding: 5px;
}
.post .postTitle {
  white-space: nowrap;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  border-bottom: 1px dotted #999999;
  padding-bottom: 5px;
}
.post .postBody {
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}
