.posts {
  text-align: justify;
  background: #f4f4f4;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: 0.5s;
}
.posts:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
