.posts {
  text-align: justify;
  background: #f4f4f4;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.posts:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.posts .postsTitle {
  white-space: nowrap;
  font-size: 22px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.posts .postsBody {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
