body {
  font-family: "Noto Sans", sans-serif;
}

.loader-bg {
  width: 100%;
  height: 100%;
  background: #ffffff;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
}
.loader-bg h3 {
  position: fixed;
  color: #ff5e31;
  font-size: 24px;
}
.loader {
  width: 6em;
  height: 6em;
  margin: 20px;
  font-size: 22px;
  box-sizing: border-box;
  border-top: 0.3em solid #505050;
  border-radius: 50%;
  position: relative;
  animation: rotating 2s ease-in-out infinite;
  --direction: 1;
}
.loader span {
  position: absolute;
  color: #ff5e31;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 10em;
  font-family: sans-serif;
  animation: rotating 2s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  top: -0.2em;
}
.loader::before {
  border-top: 0.3em solid dodgerblue;
  transform: rotate(120deg);
}
.loader::after {
  border-top: 0.3em solid #ff5e31;
  transform: rotate(240deg);
}
@keyframes rotating {
  50% {
    transform: rotate(calc(180deg));
  }
  100% {
    transform: rotate(calc(360deg));
  }
}
