.post .image {
  width: 100%;
  height: 350px;
  background-size: cover;
  margin-bottom: 5px;
  border-radius: 5px;
}
.post h2 {
  font-size: 28px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: justify;
}
.post p {
  font-size: 18px;
  text-align: justify;
  line-height: 1.4;
}
.post .author {
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #007bff;
}
.post .author span {
  text-transform: capitalize;
  color: #000000;
}
