.todo {
  border-radius: 5px;
  height: 150px;
  position: relative;
  transition: 0.5s;
}
.todo:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.todo span.flag {
  background: rgb(0, 0, 0, 0.25);
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px;
  border-radius: 4px;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  right: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.todo .todoTitle {
}
.todo .todoBody {
}
