.userAlbum {
}
.userAlbum .photoItem {
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.userAlbum .photoItem:hover {
  filter: brightness(1.1);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
