* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: blue;
  scrollbar-width: 5px !important;
}

/* SCROLL-BAR STYLES */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb {
  background: rgb(13, 110, 253);
  border-radius: 10px;
  height: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  width: 100%;
  border-radius: 5px;
}
.anyLink {
  color: inherit;
  text-decoration: none;
}
.anyLink:hover {
  color: inherit;
  text-decoration: none;
}
